<div class="header-bar">
  <button pButton type="button" label="Start Simulation" class="ui-button-success"
    (click)="handleStartSimulation()"></button>
  <button pButton type="button" label="Stop Simulation" class="ui-button-danger"
    (click)="handleStopSimulation()"></button>
  <ng-container *ngIf="currData">
    <div class="elapsed-time">
      Elapsed time: <span class="primary-label">{{currData.t}}s</span>
    </div>
    <div>
      Max. delta-t: <span class="secondary-label">{{currData.delta_t}}s</span>
    </div>
  </ng-container>
</div>


<plotly-plot *ngIf="currData" [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>


<router-outlet></router-outlet>